.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #6ccca1;
    & .headingcontainer{
        padding: 8px;
        padding-left: 30px;
        width: 50%;
        img{
            width: 232px;
        }
    }
    & .searchcontainer{
        display: flex;
        width: 50%;
        justify-content: center;
    }
}

@media (max-width: 700px){
    .header {
        display: block;
        .headingcontainer{
            width: 100%;
            padding: 0px;
            text-align: center;
            img{
                margin: auto;
            }
        }
        .searchcontainer{
            width: 100%;
            padding: 20px;
        }
    }
}