.userinfo{
    margin-left: 20px;
    margin-top: 7px;
    img{
        height: 35px;
        border-radius: 25px;
        padding: 2px;
    }
}
.loginbtncontainer{
    padding-top: 6px;
    margin-left: 30px;
    button{
        padding: 7px;
        min-width: 100px;
        border: none;
        border-radius: 4px;
        background: #ffffff;
        cursor: pointer;
        outline: none;
    }
}

.userdropdown{
    width: 246px;
    background: #ffffff;
    position: absolute;
    z-index: 1;
    border: 2px solid gray;
    padding: 17px;
    margin-left: -182px;
    border-radius: 6px;
    margin-top: 16px;
    box-shadow: 0px 0px 7px 0px;
    [class~='triangle']{
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #f5f7f6;
        transform: rotate(180deg);    
        position: absolute;
        top: -9px;
        right: 34px;
    }
    p{
        cursor: pointer;
    }
    .username{
        border-bottom: 1px solid #dcdcdc;
    }
    .usergist{
        padding-top: 17px;
        border-bottom: 1px solid #dcdcdc;
    }
    .gitsignout{
        padding-top: 17px;
    }
}
