$borderColor:#ffffff;

.searchmaincomponent{
    display: flex;
    border: 1px solid #ffffff;
    padding: 10px;
    padding-top: 4px;
    min-width: 50%;
    height: 36px;
    justify-content: space-between;
    border-radius: 6px;
    margin-top: 6px;
    .searchinputcontainer{
        min-width: 80%;
        input{
            width: 100%;
            font-size: 14px;
            outline: none;
            border: none;
            background: transparent;
            caret-color: $borderColor;
            color: $borderColor;
            &::placeholder{
                color: $borderColor;
            }
        }
    }
    .searchbutton{
        min-width: 20%;
        text-align: center;
        i{
            margin-top: -4px;
            font-size: 20px;
            color: $borderColor;
            cursor: pointer;
        }
    }
}