.creategistcontainer{
    margin: auto;
    margin-top: 5%;
    width: 80%;
    .formgroupwrapper{
        .btncontainer{
            div{
                padding-top: 20px;
                button{
                    min-width: 100px;
                }
            }
        }
    }
}